/* style.css */

/* Basic styling */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */


body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      
  }
  
  /* Header styling */

  @keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 /* Logo */

.logo-img {
  animation: logoAnimation 1s ease-in-out;
}

  .icon {
    width: 30px; /* Adjust the desired width */
    height: 30px; /* Adjust the desired height */
  }
  .logo {
    margin-right: auto;
  }
  
  .logo img {
    width: 150px; /* Adjust the desired width */
    height: 30px; /* Adjust the desired height */
  }
  /* Header and Navigation Bar */
  header {
    background-color: rgba(255, 255, 255, 0.95);
    color: #a32a2a;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    display: inline-table;
    margin-right: 10px;
  }
  
  /* Main section styling */
  .main-section {
    display: flex;
    margin-top: 20px;
  }
  /* T-SHIRT CONTAINER*/
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .property-container {
    
    background-color:rgba(89, 164, 71, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .t-shirt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    margin: 2px;
    color: #000000;
  }
  
  .t-shirt-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
  
  .t-shirt-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .t-shirt-price {
    margin-top: 5px;
    font-size: 16px;
    color: #1c0808;
  }
  /* SEARCH BAR */
  
  .left-sidebar {
    width: 25%;
    padding: 10px;
  }
  
  .left-sidebar form {
    margin-bottom: 10px;
  }
  
  .left-sidebar input[type="text"],
  .left-sidebar select {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-box {
    background-color:rgba(89, 164, 71, 0.4);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px; /* Add curved corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add drop shadow */
    
  }
  .left-sidebar button[type="submit"] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 5px;
  }
  
  .product-section {
    font-family: "Poppins", sans-serif;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .product-item img {
    width: 100%;
  }
  
  .right-sidebar {
    width: 25%;
    padding: 10px;
  }
  
 /* FOOTER */
 .footer {
  background-color: hsl(0, 0%, 95%);
  padding: 10px;
  text-align: center;
}

.social-links a {
  color: #333;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

.rights {
  color: #302626;
  font-size: 14px;
  margin-top: 10px;
}
